# Python Operators

Operators are special symbols in Python which are used to perform operations on variables/values.

## Arithmetic Operators

In [ ]:
a=5
b=2
x='Data'
y ='Science'

In [ ]:
#  Addition
c = a + b
print(c)

In [ ]:
#Concatenate string using plus operator
z = x + y
print(z)

In [ ]:
# Subtraction
c = b - a
print(c)

In [ ]:
# Multiplication
c = a * b
print(c)

In [ ]:
# Power
c = a ** b
print(c)
print(pow(5,4))

In [ ]:
# Division
c = a / b
print(c)

In [ ]:
# Modulo of both number
c = a % b
print(c)

In [ ]:
# Division(floor)
c = a // b
print(c)

In [ ]:
x = round(4.2667)
print(x)

## Comparison Operators

In [ ]:
x  = 20
y  = 30

print('Is  x  greater  than  y  :-  ',x>y)
print('Is  x  less  than    y  :-  ',x<y)
print('Is  x  equal  to    y  :-  ',x==y)
print('Is  x  not  equal  to  y  :-  ',x!=y)
print('Is  x  greater  than  or  equal  to  y  :-  ',x>=y)
print('Is  x  less  than  or  equal  to  y  :-  ',x<=y)

In [ ]:
a = 'Data'
b = 'Science'
c = 'Data'

In [ ]:
a == b

In [ ]:
a ==c

In [ ]:
a != b # Comparison operators on string

## Logical Operators

In [ ]:
# And operator
print(True and True)
print(True and False)
print(False and True)
print(False and False)

In [ ]:
#Or operator
print(True or True)
print(True or False)
print(False or True)
print(False or False)

In [ ]:
# Not operator
print(not True)
print(not False)

In [ ]:
x = True
y = False

print('Logical  AND  operation  :-  ',x  and  y)  
#  True  if  both  values  are  true 
print('Logical  OR  operation  :-  ',x  or  y)  
#  True  if  either  of  the  values  is  true 
print('NOT  operation  :-  ',not  y  )  
# If the operand is False,'not' returns True, and vice versa.

In [ ]:
#Solve the expression. 
5.2 + True + bool(-5) - 4 + 42//5 +bool(0) + False + int(5.9) + float('1')

# If  conditional statement

* A Python if statement evaluates whether a condition is equal to true or false.
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

* Indentation refers to the spaces at the beginning of a
code line. It is very important as Python uses indentation
to indicate a block of code.

In [ ]:
a=3
if a<6:
    print('We started to work on conditional statements')
    
print('Hello everyone')

In [ ]:
a=7
if a==3:
    print('Condition is true')
#print("Hello")

In [ ]:
x=4
if x==5: # If condition is True
    print('The if condition is true')
else:
    print('Else condition got executed')

In [ ]:
x=-23
if x>0:
    print('i am in if block')
else:
    print('i am not in if block')

In [ ]:
if(5>4):
    print('5 is big')
print('i am in if block')
print('i am out of if block')

In [ ]:
# if ... else

x = 0

if x>0:
    print("X is positive")
    print("i am in IF block")
else:
    print("X is Negative")
    print('i am in else block')

print("i am  out of IF block")

# Input function

In [ ]:
a=input('Enter your age:')

In [ ]:
a # input takes values as string by default

In [ ]:
type(a)

In [ ]:
c=int(input('Enter your age:'))

In [ ]:
c

In [ ]:
type(c)

In [ ]:
x=int(input("Enter a number: "))
if(x>10):
    print('i am in if block')
elif (x==6):
# elif will help in checking more than 1 if condition
    print('i am in elif block')
elif(x==0):
    print('Zero number')
else:
    print('i am in else block')

In [ ]:
num=int(input("Enter a number: "))
if num>0:
    print("positive")
elif num==0:
    print("Zero")
elif num<0:
    print("Negative")

In [ ]:
print(num)
print(type(num))

In [ ]:
# if... elif ... else
x =int(input('enter the number'))

if x>0:
    print("X is positive")
elif x<0:
    print("X is Negative")
    print('i am in elif block')
else:
    print("X is Zero")
    print('i am in else block')

print('outside of the loop')

In [ ]:
## Nesting of if 
x=5
if(x>=3):
    print('i am in 1st if')
    if(x>2):
        print('i am in 2nd if')
        if(x==2):
            print('i am in 3rd if ')
            if x==5:
                print(x)

In [ ]:
num = int(input('Enter the number: '))
if num %2==0:
    print('Even number ')
else:
    print('odd number')

In [ ]:
i=6
if(i>0):
    print('first loop')
    if(i<=5):
        print('second loop')
        print('number is in primary range')
        if(i>5): #False
            print('mid range')
        else:
            print('end of the loop')
else:
    print('number is negative')

print('out of the nested loop')

In [ ]:
str1=input("Enter a string")
if str1==str1.upper():
  print("CAPITAL LETTERS")
else:
  print("not capital letters")

In [ ]:
i = 10
if (i == 10):
    #  First if statement
    if (i < 15):
        print(i," is smaller than 15")

    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

In [ ]:
x = int(input())
if x < 10: # True
    print("Yes it is correct")

elif x < 2:
    print("number is very small less than 10")

# Packages

Packages are software which holds certain functionalities to work on. In Python, we have many builtin packages which we will be using.

Packages contains modules and submodules.

Each and every module and submodule can be used independently by using certain keywords.

So lets assume we require a software with 4 functionalities A, B, C, and D. In order to build the software, you need to break it down into logical smaller parts. So lets say A and C are have similar types of functionality  and B and D takes similar type of functionality - we can group them under same module.

Modules and submodules provide very efficient way of writing code. If you want to make changes in A, you need not disturb any of the other modules.

Modules also provide code reusabilty. If we want to develop new software which uses only A and D, such functionality is allowed by the library.

# Datetime package

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import date

In [ ]:
my_date = date(1996, 9, 13) ## Simple date creation

In [ ]:
my_date

In [ ]:
# Getting today's date
today1 = date.today()
print("Today's date is", today1)

In [ ]:
today1.isoweekday()

In [ ]:
today1.year

In [ ]:
today1.month

In [ ]:
# Get Today’s Year, Month, and Date

print("Current year:", today1.year)
print("Current month:", today1.month)
print("Current day:", today1.day)

In [ ]:
# Get date from datetime sub module
from datetime import datetime  as dt

In [ ]:
date1=dt.now()
print('Time is :',date1)

In [ ]:
date1

In [ ]:
dt.date(date1)

In [ ]:
dt.time(date1)

In [ ]:
date1.day

In [ ]:
date1.hour

In [ ]:
date1.isoweekday()

In [ ]:
date1.month

In [ ]:
date1.hour

In [ ]:
# Time submodule

from datetime import time

In [ ]:
my_time = time(7,8,45)

print("Entered time", my_time)

In [ ]:
# Timedelta function demonstration

from datetime import date, timedelta

current_date = date.today()

# Calculating future dates
# for 730 days
future_date_after_2yrs = current_date + timedelta(days=730)
future_date_after_2yrs

In [ ]:
## Task:-Calculate your age after 5000 days.
##The output should be in years

from datetime import datetime, timedelta

 # Calculate the future date after the specified number of days
future_date = datetime.now() + timedelta(days=5000)

    # Calculate the age after the specified number of days
future_date

In [13]:
from datetime import datetime, timedelta,date

# Input: current age
current_age = int(input("Enter your current age: "))
#birth_date = date(2000,23,1)
# Calculate the current date of birth (approximation assuming the birthday has passed this year)
current_year = datetime.now().year
birth_year = current_year - current_age
print(birth_year)
# Calculate the date 5000 days from now
future_date = datetime.now() + timedelta(days=5000)
print(future_date)
# Calculate age after 5000 days
future_age = future_date.year - birth_year

# Output the result
print(f"Your age after 5000 days will be approximately: {future_age} years")

Enter your current age: 24
2000
2038-09-04 11:46:09.326884
Your age after 5000 days will be approximately: 38 years

In [22]:
from datetime import datetime, timedelta,date

birth_date = date(1998,12,1)
birth_year = birth_date.year
current_year = datetime.now().year
present_age = current_year - birth_year
print(present_age)
# Calculate the date 5000 days from now
future_date = datetime.now() + timedelta(days=5000)
print(future_date)
# Calculate age after 5000 days
f_year = future_date.year
print(future_date.year)
future_age = f_year - present_age
print(future_age)

26
2038-09-04 12:18:19.519477
2038
2012

In [25]:
from datetime import datetime, timedelta,date
b_date = date(1992,12,1).year
p_data = date.today().year
p_age = p_data + b_date
p_age

4016

# Data Structures of Python

## List

1)	List is a sequence of items.
2)	We can have different data types under a list.
E.g we can have integer, float and string items in a same list.

In [ ]:
# List creation

l1=[] # Empty list

In [ ]:
l1

In [ ]:
type(l1)

In [ ]:
l = list()
type(l)

In [ ]:
a=[1,2,3,4]
a

In [ ]:
type(a)

In [ ]:
l2=list([1,2,3,4]) # List of integer
l2

In [ ]:
type(l2)

In [ ]:
l3=[12.3,34.5,56.23,5.3] 
l3          # List of float

In [ ]:
len(l3)

In [ ]:
l4=['ABC','PQR','RES']
l4# List of strings

In [ ]:
l5=['Data',25,[50,100],[150,90]]
#  Nested  Lists i.e list inside list

In [ ]:
len(l5)

In [ ]:
l6=[100,  'Data',  17.765] #  List  of  mixed  data  types

In [ ]:
len(l6) # Number of elements in list

## List Indexing and  Slicing

In [ ]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' ,
          'seven' , 'eight']

In [ ]:
mylist[6]

In [ ]:
mylist[0:3]  #  Return  all  items  from  0th  to  3rd  index  location  
#excluding  the  item at upper limit

In [ ]:
mylist

In [ ]:
mylist[0:7:3]

## Add , Remove & Change Items

In [ ]:
mylist

In [ ]:
mylist.append('nine')
#Add  an  item  to  the  end  of  the  list
mylist

In [ ]:
mylist.append(2)

In [ ]:
mylist

In [ ]:
l=[1,2,3]

In [ ]:
mylist.insert(3,l)

In [ ]:
mylist

In [ ]:
len(mylist)

In [ ]:
mylist.insert(3,'ten')
# Add  item  at  index  location  3
mylist

In [ ]:
mylist.extend([1,2,3])
#Add multiple elements at a time at end of list
mylist

In [ ]:
len(mylist)

In [ ]:
mylist.pop()  # Remove last  element from list

In [ ]:
mylist

In [ ]:
mylist

In [ ]:
mylist.pop(1)  #  Remove  item  at  index  location  8
mylist

In [ ]:
mylist

In [ ]:
mylist.remove('one')  #  Remove  item  "ONE" (value)
mylist

In [ ]:
mylist

In [ ]:
del  mylist[2]  #  Remove  item  at  index  location  2
mylist

In [ ]:
mylist

In [ ]:
mylist.clear()# Empty List / Delete all items in the list
mylist

In [ ]:
del mylist # Delete entire list

In [ ]:
mylist

## Join Lists

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [ ]:
list3 = list1 + list2 # Join two lists by '+' operator
list3

In [ ]:
list2.extend(list1) #Append list2 with list1
list2

In [ ]:
list2

In [ ]:
len(list2)

In [ ]:
list1.append(list2)
list1

In [ ]:
len(list1)

In [ ]:
lis = ['a','b','c']
lis.extend(['j'])
print(lis)

In [ ]:
lis = ['a','b','c']
l = lis.extend(['j'])
print(l)

## List Membership

In [ ]:
## 'in' is membership operator and will check if given element is present
## in sequence.

In [ ]:
list1

In [ ]:
'one' in list1 # Check if 'one' exist in the list

In [ ]:
10 not in list1 # Check if 'ten' exist in the list

## Reverse & Sort List

In [ ]:
list1 = [5,7,2,9,1,0,42] # reverse order

In [ ]:
list1

In [ ]:
list1.reverse() # Reverse the list
list1

In [ ]:
list1

In [ ]:
list1[::-1]  #  Reverse  the  list

In [ ]:
list1.sort()

In [ ]:
list1

In [ ]:
list4=[9.6,34,1,2,3.5,4]

In [ ]:
list4.sort()

In [ ]:
list4

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort(reverse=False)	# Sort list in ascending order
mylist3

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)	#  Sort  list  in  descending  order
mylist3

In [ ]:
list4=[1,2,3,'cat','dog','egg']

In [ ]:
list4

In [ ]:
list4.sort()

In [ ]:
l1=['abs','abc','aaf','fre','kjh','jyo']
l1

In [ ]:
l1.sort(reverse=True)

In [ ]:
l1

## All / Any

The all() method returns:

True - If all elements in a list is true
False - If any element in a list is false

The any() function returns True if any element in the list is True.
If not, any() returns False.

In [ ]:
L1  =  [1,2,3,4,6]

In [ ]:
L3=[1,2,3,4,0]

In [ ]:
all(L1)

In [ ]:
all(L3) # Will Return false as one value is false (Value 0)

In [ ]:
any(L1)	# Will Return True as we have items in the list with
#True value

In [ ]:
any(L3)

In [ ]:
l=[0,0,0]
any(l)

In [ ]:
all(l)

In [ ]:
L2  =  ["a", "c", "d",0]

print(any(L2))

print(all(L2))

# Tuples

1.	Tuple is similar to List except that the objects in tuple are immutable - we cannot change the elements of a tuple once assigned.
2.	When we do not want to change the data over time, tuple is a preferred data type.
3.	Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [ ]:
tup1 = ()	# Empty tuple

In [ ]:
tup1

In [ ]:
type(tup1)

In [ ]:
t = tuple()
type(t)

In [ ]:
tup2  =  (10,30,60)	#  tuple  of  integers  numbers

In [ ]:
print(tup2)
print(type(tup2))

In [ ]:
tup3 = (10.77,30.66,60.89)	# tuple of float numbers

In [ ]:
tup4 =  ('one','two' , "three")	# tuple of strings

In [ ]:
tup5  =  ('Data',  25  ,(50,  100),(150,  90))	#  Nested  tuples

In [ ]:
tup6  =  (100,  'Data',  17.765)	#  Tuple  of  mixed  data  types

In [ ]:
tup7  =  ('Data',  25  ,[50,  100],[150,  90]  ,  ['John'  ,  'David']  ,
          (99,22,33))

In [ ]:
tup7

In [ ]:
tup7[5][1]

In [ ]:
len(tup7) #Length of tuple

In [ ]:
print(tup2)
print(tup3)
print(tup4,tup5)
print(tup6,tup7)

## Tuple Indexing

In [ ]:
tup2

In [ ]:
tup2[1]

In [ ]:
tup2 = (5,8,'apple', 10, True)

In [ ]:
tup2[0:3]  #  Retreive  first 3 element  of  the  tuple

In [ ]:
tup8=('Data', 25, [50, 100], [150, 90], ['David', 'John'], (99, 22, 33))

In [ ]:
tup8

In [ ]:
tup8[2][1]

In [ ]:
tup8[5][1]

In [ ]:
tup8.index(25)

## Tuple Slicing

In [ ]:
mytuple = ('one' , 'two' , 'three' ,
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[0::2]  #  Return  all  items  from  0th  to
#3rd  index  location  excluding  the  upper limit

## Remove & Change Items

In [ ]:
mytuple

In [ ]:
del  mytuple[0]
#  Tuples  are  immutable  which  means  we  can't  DELETE  tuple  items

In [ ]:
mytuple[0]  =  1
#  Tuples  are  immutable  which  means  we  can't  CHANGE  tuple  items

In [ ]:
mytuple.remove('two')

In [ ]:
del mytuple
# Deleting entire tuple object is possible

In [ ]:
mytuple

## Count

In [ ]:
mytuple1  =('one',  'two',  'three',  'four',  'one',
            'one',  'two',  'three')

In [ ]:
mytuple1.count('one') # Number of times item "one"
# occurred in the tuple.

In [ ]:
mytuple1.index('two') ## it will give first index location

## Tuple Membership

In [ ]:
mytuple1

In [ ]:
'80'  in mytuple1 # Check if 80 exist in the tuple

## Sorting

In [ ]:
mytuple2  =  (43,67,99,12,6,90,67)

In [ ]:
mytuple2

In [ ]:
type(mytuple2)

In [ ]:
sorted(mytuple2)	# Returns a new sorted list and doesn't change original tuple

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

In [ ]:
mytuple2

# Sets

1)	Unordered & Unindexed collection of items.

2)	Set elements are unique. Duplicate elements are not allowed.

## Set Creation

In [ ]:
myset1={} # Empty set cannot be created by curly braces

In [ ]:
myset1

In [ ]:
type(myset1)

In [ ]:
myset = set() # Create an empty set
#print(type(myset))
myset

In [ ]:
type(myset)

In [ ]:
myset  =  {1,2,3,4,5}  #  Set  of  numbers
myset

In [ ]:
type(myset)

In [ ]:
len(myset) #Length or number of elements of the set

In [ ]:
my_set  =  {1,1,2,2,3,4,5,5}
my_set	# Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Data' , 'John' , 'Tyrion','John'} # Set of Strings
myset2

In [ ]:
myset3  =  {(11,  22,  32),10,20,  "Hola" }  #  Mixed  datatypes
myset3

## Set Membership

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six',
         'seven', 'eight'}

In [ ]:
myset

In [ ]:
'nine' in myset # Check if 'nine' exist in the set

## Add & Remove Items

In [ ]:
myset={2,3,4}

In [ ]:
myset.add('9')  #  Add  item  to  a  set  using  add()  method
myset

In [ ]:
myset.add(0.9)
myset

In [ ]:
myset[1] ## Indexing not supported in sets

In [ ]:
myset.update(['TEN' , 'ELEVEN' , 'TWELVE'])	# Add multiple item to a set using
myset

In [ ]:
#delete random element
myset.pop()

In [ ]:
myset.remove(2)  #  remove  item  in  a  set  using  remove()  method
myset

In [ ]:
myset.discard('9') # remove item from a set using discard() method
myset

In [ ]:
myset.clear() # Delete all items in a set
myset

In [ ]:
myset

In [ ]:
del myset # Delete the set object

In [ ]:
myset

## Set Operation

In [1]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [2]:
A.union(B)  #  Union  of  A  and  B

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
print(A | B) # using OR operator

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
A.union(B,C)	#  Union  of  A,  B  and  C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [6]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}

In [7]:
A.intersection(B)  #Intersection  of  A  and  B

{4, 5}

In [8]:
print(A & B)

{4, 5}

In [9]:
A.difference(B)  #  Difference  of set. set of elements that are only in A 
#but not in B

{1, 2, 3}

In [10]:
B.difference(A) #  set  of  elements  that  are  only  in  B  but  not  in  A

{6, 7, 8}

# Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

## Create Dictionary

In [11]:
d={}

In [12]:
type(d)

dict

In [13]:
mydict = dict() # empty dictionary
mydict

{}

In [14]:
type(mydict)

dict

In [15]:
mydict  =  {1:'one'  ,  2:'two'  ,  3:'three'}  #
#dictionary  with  integer  keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [16]:
type(mydict)

dict

In [17]:
mydict  =  dict({1:'one'  ,  2:'two'  ,  3:'three'})  #  Create  dictionary  using  dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [18]:
mydict.keys() # Return Dictionary Keys using
# keys() method

dict_keys([1, 2, 3])

In [19]:
mydict.values() # Return Dictionary Values using
#values() method

dict_values(['one', 'two', 'three'])

In [20]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [ ]:
mydict

In [21]:
mydict  =  {1:'one'  ,  2:'two'  ,
            'A':['Data'  ,  'john'  ,  'Maria']}
#  dictionary  with one value as list
mydict

{1: 'one', 2: 'two', 'A': ['Data', 'john', 'Maria']}

In [24]:
mydict['A'][2]

'Maria'

In [25]:
d={0:{'one':1,'two':2,'three':3,'four':4},
   1:{'city':'bangalore','area':'kudlu'},
   'three':{'city':'mumbai','area':'Dharavi'}} # nested dictonary

In [26]:
d

{0: {'one': 1, 'two': 2, 'three': 3, 'four': 4},
 1: {'city': 'bangalore', 'area': 'kudlu'},
 'three': {'city': 'mumbai', 'area': 'Dharavi'}}

In [ ]:
## Access the value kudlu, mumbai

In [30]:
d['three']['city']

'mumbai'

In [ ]:
type(a)

In [31]:
v=[0,1,2,3,[8,{5:[67,89,90,{'area':'kudlu','city':'banglore'}]}]]

In [33]:
type(v)

list

Task: Extract Banglore.

In [38]:
v[4][1][5][3]['city']

'banglore'

In [ ]:
len(v)

Task:
create a dictionary where keys will be roll_no,name,age,course_details.
Assign  multiple values to the keys.

## Add, Remove & Change Items

In [39]:
mydict1 = {'Name':['Data','Abc'] , 'ID': [12345,12,11] , 'DOB': 1991 ,
           'Address' : 'Hilsinki'}
mydict1

{'Name': ['Data', 'Abc'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki'}

In [40]:
print(mydict1['Name'][1],mydict1['ID'][2],mydict1['DOB'],mydict1['Address'])

Abc 11 1991 Hilsinki

In [41]:
mydict1.update({'key':'value1'}) # adding single item

In [42]:
mydict1.update({'age':12,'std':2})  # adding multiple items

In [43]:
mydict1

{'Name': ['Data', 'Abc'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2}

In [44]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': ['Data', 'Abc'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst'}

In [45]:
mydict1['ABC']=1

In [46]:
mydict1

{'Name': ['Data', 'Abc'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1}

In [48]:
mydict1

{'Name': ['Data', 'Abc', 'Pqr'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1}

In [47]:
mydict1['Name'].append('Pqr')  # to add value into the key using append

In [49]:
mydict1['Name'].insert(1,'c')  # to add value into the key using insert

In [50]:
mydict1['Name'].extend(['a','b']) #  # to add value into the key using extend

In [51]:
mydict1

{'Name': ['Data', 'c', 'Abc', 'Pqr', 'a', 'b'],
 'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1}

In [52]:
mydict1['name']=mydict1.pop('Name')  # updating the name of key

In [53]:
mydict1

{'ID': [12345, 12, 11],
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'Abc', 'Pqr', 'a', 'b']}

In [54]:
mydict1['DOB'] = 1992	# Changing Dictionary Items

mydict1

{'ID': [12345, 12, 11],
 'DOB': 1992,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'Abc', 'Pqr', 'a', 'b']}

In [55]:
del mydict1['ID'][1] ## deleting the single value using index location

In [56]:
mydict1

{'ID': [12345, 11],
 'DOB': 1992,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'Abc', 'Pqr', 'a', 'b']}

In [57]:
mydict1["ID"].pop(0)  #  Removing  items  in  the  dictionary  using  Pop  method
mydict1

{'ID': [11],
 'DOB': 1992,
 'Address': 'Hilsinki',
 'key': 'value1',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'Abc', 'Pqr', 'a', 'b']}

In [58]:
#pop out key value pair from last
mydict1.pop("key")

'value1'

In [59]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'DOB': 1992,
 'Address': 'Hilsinki',
 'age': 12,
 'std': 2,
 'Job': 'Analyst',
 'ABC': 1,
 'name': ['Data', 'c', 'Abc', 'Pqr', 'a', 'b']}

In [60]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

{}

In [61]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined